.heading__title__icon {
    position: absolute;
    left: 2rem;
    color: black;
    font-size: 1.5rem;
    transition: all .2s;
    &:hover {
        transform: scale(1.15);
    }
}

.nav__btn {
    @media screen and (min-width: $tablette) {
            height: 3em;
            border-radius: 5em;
            font-size: 1.3rem;
    }
    @include nav-titles (100%, #fff);
    max-width: $max-width-btn;
    margin: 2rem auto;
    padding-top: .6em;
    padding-bottom: .6em;
    border-radius: map-get($border-radius,btn);
    background: linear-gradient($color-secondary, $color-primary);
    @include box-shadow;
    border: none;
    font-family: $font-secondary;
    &:hover {
        @include box-shadow ($color: darken($shadowgray, 25%));
        filter: brightness(1.1);
        cursor: pointer;
    }
    &__home {
        width: 58%;
        padding-left: map-get($padding-horizontal-btn,home);
        padding-right: map-get($padding-horizontal-btn,home);
    }
    &__menu {
        margin-bottom: 3.5rem;
        margin-top: 1.5rem;
        padding-left: map-get($padding-horizontal-btn,menu);
        padding-right: map-get($padding-horizontal-btn,menu);
    }
}

.restaurants__container__card__icon span, .menu__title__icon span {
    background-repeat: no-repeat;
    background-position: 0 25px;
    background-origin: content-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: .9px black;
    transition:all .4s;
 &:hover {
   background-image: linear-gradient($color-secondary, $color-primary);
   -webkit-text-stroke: .3px $softgray;
   background-position: center;
   cursor: pointer;
 }
}


