.nav__btn {
    @media screen and (min-width: $tablette) {
            height: 3em;
            border-radius: 5em;
            font-size: 1.3rem;
    }
    @include nav-titles (100%, #fff);
    max-width: $max-width-btn;
    margin: 2rem auto;
    padding-top: .6em;
    padding-bottom: .6em;
    border-radius: map-get($border-radius,btn);
    background: linear-gradient($color-secondary, $color-primary);
    @include box-shadow;
    border: none;
    &:hover {
        @include box-shadow ($color: darken($shadowgray, 25%));
        filter: brightness(1.1);
        cursor: pointer;
    }
    &__home {
        width: 58%;
        padding-left: map-get($padding-horizontal-btn,home);
        padding-right: map-get($padding-horizontal-btn,home);
    }
    &__menu {
        margin-bottom: 3.5rem;
        margin-top: 1.5rem;
        padding-left: map-get($padding-horizontal-btn,menu);
        padding-right: map-get($padding-horizontal-btn,menu);
    }
}

