* {
    box-sizing: border-box;
}

h1 {
    font-family: $font-primary;
}

h2, h3, p {
    font-family: $font-secondary;
}

h3 {
    font-size: 110%;
    font-weight: 300;
}

a {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');