$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$darkgray: rgb(234,234,234);
$softgray: #f6f6f6;
$shadowgray: #d6d6d6;
$gray-footer: #363636;

$border-radius:(vignet:1.3em, menu:1em, btn:2em);
$padding-horizontal-btn: (home:.5em, menu:3.5em);

$font-primary: 'Shrikhand','Franklin Gothic Medium', sans-serif;
$font-secondary: 'Roboto','Franklin Gothic Medium', sans-serif;

$tablette: 768px;
$desktop: 1060px;

$max-width-btn: 400px;
$max-with-vignet: $tablette;

$max-width-card: 500px 600px;
$height-card: 66px 100px;

$margin-heading-restaurants-text: .5em 0;
$padding-left-titles: 5%;
$padding-vertical-containers: 2rem;
$padding-horizontal-containers: 0rem;

$height:(tablette:450px, desktop:650px, mobile:270px);