$color-primary: #9356DC ;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$darkgray: rgb(234,234,234);
$softgray: rgb(246,246,246);
$shadowgray: #d6d6d6;
$gray-footer: #363636;

$border-radius-vignet: 1.3em;
$border-radius-btn: 2em;

$font-primary: 'Shrikhand','Franklin Gothic Medium', sans-serif;
$font-secondary: 'Roboto','Franklin Gothic Medium', sans-serif;

$max-width-btn: 400px;
$max-with-vignet: 768px;

$margin-heading-restaurants-text: .5em 0;
$padding-left-titles: 6%;
$padding-vertical-containers: 2rem;
$padding-horizontal-containers: 0rem;

$tablette: 768px;
$desktop: 1060px;