.home-title {
    @include flex-center;
}

.localisation {
    @include flex-center;
    @include heading-shadow;
    background-color: $darkgray;
}

.nav {
    padding: 2em 0;
    background-color: $softgray;
}

.functioning {
    max-width: $max-with-vignet;
    margin: auto;
    padding: 1rem;
}

@media (min-width: 1060px) {
    .functioning{
        @include flex-center;
        max-width: 1400px;
        flex-direction: column;
    }
    .functioning__contenair {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
}