.heading {
    &__title {
        position: relative;
        &__text {
            @include heading__title__text;
            &__pages {
                transform: scale(.43);
            }
        }
        }
    &__photo {
        @media screen and (min-width: $tablette){
            height: map-get($height,tablette);
        }
        @media screen and (min-width: $desktop){
            height: map-get($height,desktop);
        }
        width: 100%;
        height: map-get($height,mobile);
        object-fit: cover;
        object-position: 50% 65%;
    }
}

.localisation {
    &__text {
        position: relative;
    }
    &__text span {
        position: absolute;
        top: 1em; right: 7.7em;
    }   
}

.nav {
    &__title {
        @include nav-titles;
    }
    &__title2 {
        @include nav-titles(90%);
    }
}

.functioning{
    &__title {
        padding-left: $padding-left-titles;
    }
}

.functioning__container {
    &__card {
        @include flex-center;
        position: relative;
        margin: 1.5em auto 1.5em 10%;
        padding: .5em 2.2em .5em 2.2em;
        width: 84%;
        border-radius: map-get($border-radius,vignet);
        background-color: $softgray;
        @include box-shadow;
        &--bgcolor {
            background-color: lighten($color-primary,33%);
        }
        &__text {
            width: 12em;
            font-weight: 600;
            font-size: .9rem;
        }
        &__number {
            @include flex-center;
            width: 1.65em;
            height: 1.65em;
            position: absolute;
            left: -1em;
            background-color: $color-primary;
            color: #fff;
            border-radius: 50%;
            font-size: .95rem;
        }
        &__icon {
            width: 2em;
            font-size: 125%;
            &--color-active {
                color: $color-primary;
            }
            &--color-inactive {
                color: darken($darkgray, 40%);
            }
        }
        &:hover {
            @include hover-vignet;
        }
    }
}

@media screen and (min-width: $tablette) {
    .functioning__container {
        &__card {
            height: 5em;
            margin: 3em auto;
            &__text {
                font-size: 1.2rem;
            }
            &__icon {
                font-size: 1.6rem;
            }
        }
    }
}

@media screen and (min-width: $desktop) {
    .functioning__container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        &__card {
            margin:2em 1em;
            padding: 1.5em;
            width: 21em;
            height: 10em;
            &__number {
                left: 6em;
                bottom: 5.8em;
                font-size: 1.5rem;
            }
        }
    }
}





